{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block content %}

    <h1>Formulaire d'inscription</h1>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}
    {{ form(form) }}

{% endblock %}
